name: Metrics

"on":
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * *'

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_API_TOKEN }}

          committer_token: ${{ secrets.GITHUB_TOKEN }}

          user: ${{ github.repository_owner }}
          filename: github-metrics.svg

          template: classic
          base: header, activity, repositories

          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage

          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
